#popupc {
    width: 600px;
    margin: 0 auto;
    position: fixed;
    z-index: 9999;
    top: 0px;
    background: #4DA2E5;
    left: 0;
    text-align: left;
    padding: 0;
    height: 100vh;
    color:#fff;
}

.popupctext h2 {
    font-size: 40px;
    margin: .5em 0;
}

.tabtn {
    width: 300px;
    text-align: center;
    display: block;
    padding: 20px 0;
    background: #12285F;
    color: #fff;
    font-size: 25px;
    text-decoration: none;
    margin-top: 30px;
}

.popupdbtn a:hover {
    opacity: .8;
}

.resp-container {
    position: relative;
    overflow: hidden;
    padding-top: 56.25%;
}

.resp-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}

.popupcclose:hover {
    cursor: pointer;
    opacity: .8;
}

#popupc:after {
    height: 104%;
    width: 100%;
    background-color: #4DA2E5;
    position: absolute;
    content: "";
    transform: rotate(10deg);
    top: -82px;
    right: -85px;
    z-index: 9998;
}

#dvGlobalMask {
    width: 100%;
    height: 100%;
    position: absolute;
    background: rgba(0,0,0,.5);
    z-index: 9998;
}

.popup-container {
    margin-top: 50px;
    margin-left: 30px;
    width: 100%;
    box-sizing: border-box;
    width: 90%;
    position: relative;
    z-index: 99999;
}

.popupcclose {
    position: absolute;
    right: -75px;
    top: 50px;
    z-index: 99999;
}

.field-collection-view {
    border: 0;
}

.popupdbtn {
    display: inline-block;
    margin: 20px auto 0;
}

.popupdbtn a {
    color: #12285F;
    background: white;
    font-size: 20px;
    padding: 10px 30px;
    text-decoration: none;
}

.progress {
    background: #12285F;
    display: inline-block;
    padding: 10px;
}

.goal {
    display: inline-block;
}

.progressbar {
    width: 100%;
    background:white;
}

.popup-form {
    margin-top: 30px;
}

.popup-form input {
    width: 100%;
    text-indent: 20px;
    margin-bottom: 5px;
    display: block;
    padding: 10px 0;
    border: 0;
    font-size: 20px;
}

.popup-form input[type='submit'] {
    background: #12285F;
    border: 0;
    color: #fff;
    text-transform: uppercase;
    box-sizing: border-box;
    text-indent: 0;
}

@media (max-width:800px) {
    #popupc:after {
        height: 0%;
        width: 0%;
        background-color: transparent;
    }
    #popupc {
        width: 100%;
    }
    .popupcclose {
        right: 30px;
        top: 15px;
    }
    .popup-container {
        margin: 50px auto 0;
    }
}