#popupc {
    width: 100%;
    margin: 0 auto;
    position: fixed;
    z-index: 201;
    top: 0px;
    background: transparent;
    left: 0;
    text-align: center;
    padding: 0;
    height: 100vh;
    color:#fff;
}

.popupdbtn a:hover {
    opacity: .8;
}

.popupcclose:hover {
    cursor: pointer;
    opacity: .8;
}

.resp-container {
    margin-top: 50px;
}

#dvGlobalMask {
    width: 100%;
    height: 100%;
    position: absolute;
    background: rgba(77,162,229,.8);
    z-index: 200;
}

.popupctext h2 {
    font-size: 50px;
    text-transform: uppercase;
}

.popupctext p {
    font-size: 20px;
    line-height: 120%;
}

.popupcclose {
    position: absolute;
    right: 50px;
    top: 50px;
}

.popup-form {
    width: 80%;
    margin: 30px auto 0;
}

.popupctext {
    width: 80%;
    margin: 0 auto;
}

.popup-form input {
    width: 100%;
    text-indent: 20px;
    margin-bottom: 5px;
    display: block;
    padding: 10px 0;
    border: 0;
    font-size: 20px;
}

.popup-form input[type='submit'] {
    background: #12285F;
    border: 0;
    color: #fff;
    text-transform: uppercase;
    box-sizing: border-box;
    text-indent: 0;
}