#popupc {
    width: 700px;
    margin: 0 auto;
    position: fixed;
    z-index: 9999;
    top: 0;
    background: #fff;
    left: 50%;
    padding: 40px 60px;
    transform: translateX(-50%);
}

#dvGlobalMask {
    width: 100%;
    height: 100%;
    position: absolute;
    background: rgba(0,0,0,.5);
    z-index: 9998;
}

.popupcclose {
    position: absolute;
    right: -50px;
    z-index: 9999;
}

.resp-container {
    position: relative;
    overflow: hidden;
    padding-top: 56.25%;
}

.popupcclose:hover {
    cursor: pointer;
    opacity: .8;
}

.popupdbtn a:hover {
    opacity: .8;
}

.resp-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}

.tabtn {
    width: 300px;
    text-align: center;
    display: block;
    padding: 20px 0;
    background: #12285F;
    color: #fff;
    font-size: 25px;
    text-decoration: none;
    margin-top: 30px;
}

.popupctext h2 {
    font-size: 40px;
    margin: .1em 0;
}

.popup-form {
    margin-top: 30px;
}

.popup-form input {
    width: 100%;
    text-indent: 20px;
    margin-bottom: 5px;
    display: block;
    padding: 10px 0;
    border: 0;
    box-sizing: border-box;
    font-size: 20px;
}

.popup-form input[type='submit'] {
    background: #12285F;
    border: 0;
    color: #fff;
    width: 57%;
    text-transform: uppercase;
    box-sizing: border-box;
    text-indent: 0;
    display: inline-block;
    border: 2px solid #12285F;
}

.popup-form input[name="email"], .popup-form input[name="phonenumber"] {
    width: 48.5%;
    /* float: left; */
    display: inline-block;
    border:2px solid #12285F;
}

.popup-form input[name="zip"] {
    width: 40%;

    display: inline-block;
    border:2px solid #12285F;
}

.field-collection-view {
    border: 0;
}

.popupdbtn {
    display: inline-block;
    margin: 20px auto 0;
}

.popupdbtn a {
    color: #fff;
    background: #12285F;
    font-size: 20px;
    padding: 10px 30px;
    text-decoration: none;
}

.progress {
    background: #12285F;
    display: inline-block;
    padding: 10px;
}

.goal {
    display: inline-block;
}
.remaining {
    color: #fff;
}
.progressbar {
    width: 100%;
    background:white;
    border: 1px solid #12285F;
}



@media (max-width: 950px) {
    #popupc {
        width: 60%;
        padding: 40px 20px;
    }
}